{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          id="metaViewport">
    <title>Title</title>
    <meta name="twitter:title" content="Title">
    <meta property="og:title" content="Title">
    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="img/default.png">
    <meta property="vk:image" content="img/default.png">
    <meta name="twitter:image" content="img/default.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <meta name="theme-color">
    <meta name="msapplication-navbutton-color">
    <meta name="apple-mobile-web-app-status-bar-style">

    <link rel="stylesheet" href="{% static 'css/reset.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script src="https://kit.fontawesome.com/6c1cf59610.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
</head>

<body>


{% include 'includes/header.html' %}

<div class="container-sm container-md container-lg container-xl container-xxl">

    <section id="mini-panel">

        <ul class="breadcrumbs">

            <li><a href="/">Главная</a></li>
            <li>Корзина</li>

        </ul>

    </section>


    <section id="cart">

        <h2>Корзина</h2>

        <div class="main">

            <div class="cart-products">

                <div class="top-bar">

                    <div class="checkbox">
                        <input type="checkbox" name="choose_all" id="choose_all">
                        <label for="choose_all">Выбрать все</label>
                    </div>

                    <h5 class="delete_choose">Удалить выбранные</h5>
                </div>

                {% for key, product in cart_products %}
                <div class="product" data-model="{{product.category}}" data-product="{{product.product_id}}">

                    <div class="checkbox">
                        <input type="checkbox" name="product1">
                    </div>

                    <div class="img-container">

                        <img src="{{product.image}}" alt="Image">

                    </div>

                    <div class="product-block">

                        <div class="product-info">

                            {% if product.category == "premises" %}
                            <h4>Помещение для праздника {{product.title}}</h4>
                            {% elif product.category == "food" %}
                            <h4>Еда — {{product.title}}</h4>
                            {% elif product.category == "animator" %}
                            <h4>Развлечения — {{product.title}}</h4>
                            {% else %}
                            <h4>Оформление — {{product.title}}</h4>
                            {% endif %}

                            {% if product.category != 'premises'%}
                            <h4>{{product.parent}}</h4>
                            {% else %}
                            <h4>{{product.address}}</h4>
                            {% endif %}

                            {% if product.category != 'premises'%}
                            <h4>{{product.address}}</h4>
                            {% else %}
                            <h4>22.02.2022 c 12 : 00 до 14 : 00</h4>
                            {% endif %}

                        </div>

                        <div class="product-actions">

                            <h5 class="in_likes">В избранное</h5>

                            <h5 class="delete" data-key="{{key}}">Удалить</h5>

                        </div>

                    </div>

                    <div class="price-block">
                        {% if product.sale == '0' %}
                        <span class="price">{{product.price|mul:product.quantity}}</span>
                        {% else %}
                        <span class="sale">{{product.price|mul:product.quantity}}</span>
                        <span class="price">{{product.sale|mul:product.quantity}}</span>
                        {% endif %}

                        <div class="counter">
                            <button class="minus">-</button>
                            <button class="counter_window" disabled>{{product.quantity}}</button>
                            <button class="plus">+</button>
                        </div>
                        {% if product.sale != '0' %}
                        <h4>1 за <strong class="price_one">{{product.sale}}</strong>₽</h4>
                        {% else %}
                        <h4>1 за <strong class="price_one">{{product.price}}</strong>₽</h4>
                        {% endif %}

                    </div>

                </div>
                {% endfor %}

            </div>

            <div class="end-cart">

                <h5>Дату и время выезда и/или доставки можно выбрать при оформлении заказа</h5>

                <div class="cart-info">

                    <h3 class="cart-info-title">Ваша корзина</h3>

                    <div class="cart-info-body">

                        <div class="cart-info-body-row">

                            <h4>Услуги ({{cart_info.count}})</h4>

                            <span><span class="item_price">{{ cart_info.price }}</span>₽</span>

                        </div>

                        <div class="cart-info-body-row">

                            <h4>Ваша экономия</h4>

                            <span><span class="full_sale">{{ cart_info.price|sub:cart_info.sale }}</span>₽</span>

                        </div>

                    </div>

                    <div class="cart-info-result">

                        <div class="cart-info-result-row">

                            <h3>Итого</h3>

                            <span><span class="final_price">{{ cart_info.total_price }}</span>₽</span>

                        </div>

                        <h5>Чтобы получить подтверждение от партнёров, нужно оформить заказ</h5>

                    </div>

                    <div class="go-checkout">

                        <button><a href="/checkout">Перейти к оформлению</a></button>
                        <span>Пока вы ни за что не платите</span>
                    </div>

                </div>

            </div>

        </div>

    </section>

    {% include 'includes/product-parts/purchases/purchases-viewed.html' %}

    {% include 'includes/product-parts/purchases/purchases-recommendations.html' %}

<script>
    $(document).ready(function () {
        if ($(window).width() >= 1801) {
            $('.purchases-slider').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        }else {
            $('.purchases-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        }
        $(document).on('click', '.delete', function () {
            let product = $(this).attr('data-key');
            let obj = $(this).parent().parent().parent();
            let sale = Number(obj.find('.price').text());
            let price = Number(obj.find('.sale').text());
            let item_price = Number($('.item_price').text());
            let item_sale = Number($('.full_sale').text());
            let final_price = Number($('.final_price').text());
            let data = {product: product, csrfmiddlewaretoken: '{{ csrf_token }}'}
            $.ajax({
                url: '/ajax/delete-cart/',
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    obj.remove();
                    $('.item_price').text(item_price - price);
                    $('.full_sale').text(item_sale - (price - sale));
                    $('.final_price').text(final_price - sale);
                }
            });
        });

        $(document).on('click', '.plus', function () {
            let obj = $(this).parent().parent();
            let counter = Number(obj.find('.counter_window').text());
            let price = Number(obj.find('.price').text());
            let sale = Number(obj.find('.sale').text());
            let price_one = Number(obj.find('.price_one').text());
            let sale_one = (sale - price) / counter;
            let item_price = Number($('.item_price').text());
            let item_sale = Number($('.full_sale').text());
            let final_price = Number($('.final_price').text());
            if (counter <= 500) {
                let data = {
                    product_id: obj.parent().attr('data-product'),
                    model_name: obj.parent().attr('data-model'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
                $.ajax({
                    url: '/ajax/add-cart/',
                    data: data,
                    type: 'POST',
                    dataType: 'json',
                    success: function () {
                        obj.find('.counter_window').text(counter + 1);
                        obj.find('.price').text(price + price_one);
                        obj.find('.sale').text(price + price_one + (sale_one * (counter + 1)));
                        $('.item_price').text(item_price + price_one + (sale_one));
                        $('.full_sale').text(item_sale + (sale_one));
                        $('.final_price').text(final_price + price_one);
                    }
                });
            }
        });

        $(document).on('click', '.minus', function () {
            let obj = $(this).parent().parent();
            let product = obj.parent().find('.delete').attr('data-key');
            let counter = Number(obj.find('.counter_window').text());
            let price = Number(obj.find('.price').text());
            let sale = Number(obj.find('.sale').text());
            let price_one = Number(obj.find('.price_one').text());
            let sale_one = (sale - price) / counter;
            let item_price = Number($('.item_price').text());
            let item_sale = Number($('.full_sale').text());
            let final_price = Number($('.final_price').text());
            if (counter > 1) {
                let data = {product: product, quantity: 1, csrfmiddlewaretoken: '{{ csrf_token }}'}
                $.ajax({
                    url: '/ajax/delete-cart/',
                    data: data,
                    type: 'POST',
                    dataType: 'json',
                    success: function () {
                        obj.find('.counter_window').text(counter - 1);
                        obj.find('.price').text(price - price_one);
                        obj.find('.sale').text(sale - price_one - (sale_one));
                        $('.item_price').text(item_price - price_one - (sale_one));
                        $('.full_sale').text(item_sale - (sale_one));
                        $('.final_price').text(final_price - price_one);
                    }
                });
            }
        });
    });
</script>

</div>

{% include 'includes/footer.html' %}
