{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" id="metaViewport">
    <title>Title</title>
    <meta name="twitter:title" content="Title">
    <meta property="og:title" content="Title">
    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="img/default.png">
    <meta property="vk:image" content="img/default.png">
    <meta name="twitter:image" content="img/default.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <meta name="theme-color">
    <meta name="msapplication-navbutton-color">
    <meta name="apple-mobile-web-app-status-bar-style">

    <link rel="stylesheet" href="{% static 'css/reset.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script src="https://kit.fontawesome.com/6c1cf59610.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
</head>

<body>

<div class="container-sm container-md container-lg container-xl container-xxl">

    {% include 'includes/header.html' %}

    {% include 'includes/product-parts/mini-panel.html' %}

    <section id="cart">

        <div class="top-bar">

            <h2>Корзина</h2>

            <div class="checkbox">
                <input type="checkbox" name="choose_all" id="choose_all">
                <label for="choose_all">Выбрать все</label>
            </div>

            <h5 class="delete_choose">Удалить выбранные</h5>
        </div>

        <div class="main">

            <div class="cart-products">

                {% for key, product in cart_products %}
                <div class="product">

                    <div class="checkbox">
                        <input type="checkbox" name="product1">
                    </div>

                    <div class="img-container">

                        <img src="{{product.image}}" alt="Image">

                    </div>

                    <div class="product-block">

                        <div class="product-info">

                            {% if product.category == "premises" %}
                            <h4>Помещение для праздника {{product.title}}</h4>
                            {% elif product.category == "food" %}
                            <h4>Еда — {{product.title}}</h4>
                            {% elif product.category == "animator" %}
                            <h4>Развлечения — {{product.title}}</h4>
                            {% else %}
                            <h4>Оформление — {{product.title}}</h4>
                            {% endif %}

                            {% if product.category != 'premises'%}
                            <h4>{{product.parent}}</h4>
                            {% else %}
                            <h4>{{product.address}}</h4>
                            {% endif %}

                            {% if product.category != 'premises'%}
                            <h4>{{product.address}}</h4>
                            {% else %}
                            <h4>22.02.2022 c 12 : 00 до 14 : 00</h4>
                            {% endif %}

                        </div>

                        <div class="product-actions">

                            <h5 class="in_likes">В избранное</h5>

                            <h5 class="delete" data-key="{{key}}">Удалить</h5>

                        </div>

                    </div>

                    <div class="price-block">
                        {% if product.sale == '0' %}
                        <span class="price">{{product.price}}</span>
                        {% else %}
                        <span class="price">{{product.price}}</span>
                        <span class="sale">{{product.sale}}</span>
                        {% endif %}

                        <div class="counter">
                            <button class="minus">-</button>
                            <button disabled>{{product.quantity}}</button>
                            <button class="plus">+</button>
                        </div>
                        {% if product.sale != '0' %}
                        <h4>1 за {{product.price}}₽</h4>
                        {% else %}
                        <h4>1 за {{product.sale}}₽</h4>
                        {% endif %}

                    </div>

                </div>
                {% endfor %}

            </div>

            <div class="end-cart">

                <h5>Дату и время выезда и/или доставкки можно выбрать при оформлении заказа</h5>

                <div class="cart-info">

                    <h4 class="cart-info-title">Ваша корзина</h4>

                    <div class="cart-info-body">

                        <div class="cart-info-body-row">

                            <h4>Услуги ({{cart_info.count}})</h4>

                            <span><span class="item_price">{{ cart_info.sale }}</span>₽</span>

                        </div>

                        <div class="cart-info-body-row">

                            <h4>Ваша экономия</h4>

                            <span><span class="full_sale">{{  cart_info.price }}</span>₽</span>

                        </div>

                    </div>

                    <div class="cart-info-result">

                        <div class="cart-info-result-row">

                            <h3>Итого</h3>

                            <span><span class="final_price">{{ cart_info.total_price }}</span>₽</span>

                        </div>

                        <h5>Чтобы получить подтверждение от партнёров, нужно оформить заказ</h5>

                    </div>

                    <div class="go-checkout">

                        <button>Перейти к оформлению</button>
                        <span>Пока вы ни за что не платите</span>
                    </div>

                </div>

            </div>

        </div>

    </section>

</div>
<script>
    $(document).ready(function() {
        $(document).on('click', '.delete', function () {
            let product = $(this).attr('data-key');
            let obj = $(this).parent().parent().parent();
            let sale = Number(obj.find('.price'));
            let price = Number(obj.find('.sale').text());
            let item_price = Number($('.item_price').text());
            let item_sale = Number($('.full_sale').text());
            let final_price = Number($('.final_price').text());
            let data = {product: product, csrfmiddlewaretoken: '{{ csrf_token }}'}

            $.ajax({
                url: '/ajax/delete-cart/',
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function(data){
                    obj.remove();
                    $('.item_price').text(item_price - price);
                    $('.full_sale').text(item_sale - sale);
                    $('.final_price').text(final_price - sale);
                }
            });
        });
    });
</script>
</body>
</html>
