{% load static %}
<section id="tabs">
    <div class="container">

        <input type="radio" id="tab1" name="tab" checked>
        <label for="tab1">Описание</label>
        <input type="radio" id="tab2" name="tab">
        <label for="tab2">Отзывы</label>
        <input type="radio" id="tab3" name="tab">
        <label for="tab3">Вопросы</label>
        <input type="radio" id="tab4" name="tab">
        <label for="tab4">Наш аудит</label>
        <div class="content-container">
            <div class="content" id="c1">
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                </h3>
                <p>
                    {{premise.description_1}}
                </p>
                <div class="desc-blocks">

                    <div class="desc-block">
                        <h3>Звуковое оборудование</h3>
                        <h5>{{premise.description_2}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Световое и шоу оборудование</h3>
                        <h5>{{premise.description_3}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Техническое оборудование</h3>
                        <h5>{{premise.description_4}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Мебель</h3>
                        <h5>{{premise.description_5}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Наши правила</h3>
                        <h5>{{premise.description_6}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Кухня и посуда</h3>
                        <h5>{{premise.description_7}}</h5>
                    </div>

                </div>
            </div>
            <div class="content" id="c2">
                <div class="review">
                    <div class="review-title">
                        <i class="far fa-user-circle"></i>
                        <h3>Аня Иванова заказывала Ивента Лофт</h3>
                    </div>
                    <p>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                        шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
                        при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие
                        программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
                        умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много
                        веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem
                        Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно
                        (например, юмористические варианты).
                    </p>
                    <div class="review-images">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                    </div>
                </div>
                <div class="review">
                    <div class="review-title">
                        <i class="far fa-user-circle"></i>
                        <h3>Аня Иванова заказывала Ивента Лофт</h3>
                    </div>
                    <p>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                        шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
                        при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие
                        программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
                        умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много
                        веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem
                        Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно
                        (например, юмористические варианты).
                    </p>
                    <div class="review-images">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                    </div>
                </div>
                <div class="load_more"><h3>Показать ещё</h3></div>
            </div>
            <div class="content" id="c3">
                <div class="question">
                    <div class="question-title">
                        <i class="far fa-question-circle"></i>
                        <h3>Сколько будет стоить доставка во Владивосток?</h3>
                    </div>
                    <p>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                        шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
                        при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие
                        программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
                        умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много
                        веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem
                        Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно
                        (например, юмористические варианты).
                    </p>
                    <div class="question-images">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                    </div>
                </div>
                <div class="question">
                    <div class="question-title">
                        <i class="far fa-question-circle"></i>
                        <h3>Сколько будет стоить доставка во Владивосток?</h3>
                    </div>
                    <p>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                        шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
                        при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие
                        программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
                        умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много
                        веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem
                        Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно
                        (например, юмористические варианты).
                    </p>
                    <div class="question-images">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                    </div>
                </div>
                <div class="load_more"><h3>Показать ещё</h3></div>
            </div>
            <div class="content" id="c4">
                <div class="audit">
                    <div class="audit-title">
                        <i class="fas fa-piggy-bank"></i>
                        <h3>Проверка финансовой безопасности</h3>
                    </div>
                    <p>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                        шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
                        при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие
                        программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
                        умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много
                        веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem
                        Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно
                        (например, юмористические варианты).
                    </p>
                    <div class="audit-images">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                    </div>
                </div>
                <div class="audit">
                    <div class="audit-title">
                        <i class="fas fa-tractor"></i>
                        <h3>Проверка хозяйственно-экономической деятельности</h3>
                    </div>
                    <p>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                        шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
                        при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие
                        программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
                        умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много
                        веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem
                        Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно
                        (например, юмористические варианты).
                    </p>
                    <div class="audit-images">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                        <img src="{% static 'images/slide1.png' %}" alt="Image">
                    </div>
                </div>
                <div class="load_more"><h3>Показать ещё</h3></div>
            </div>
        </div>
    </div>
</section>

