{% load static %}
<section id="tabs">
    <div class="container">
        {% if product.description_1 != Null %}
        <input type="radio" id="tab1" name="tab" checked>
        <label for="tab1">Описание</label>
        {% endif %}
        {% if reviews != False %}
        <input type="radio" id="tab2" name="tab">
        <label for="tab2">Отзывы</label>
        {% endif %}
        {% if questions != False %}
        <input type="radio" id="tab3" name="tab">
        <label for="tab3">Вопросы</label>
        {% endif %}
        {% if audit_elements != False %}
        <input type="radio" id="tab4" name="tab">
        <label for="tab4">Наш аудит</label>
        {% endif %}
        <div class="content-container">
            {% if product.description_1 != Null %}
            <div class="content" id="c1">
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                </h3>
                <p>
                    {{product.description_1}}
                </p>
                <div class="desc-blocks">

                    <div class="desc-block">
                        <h3>Звуковое оборудование</h3>
                        <h5>{{product.description_2}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Световое и шоу оборудование</h3>
                        <h5>{{product.description_3}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Техническое оборудование</h3>
                        <h5>{{product.description_4}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Мебель</h3>
                        <h5>{{product.description_5}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Наши правила</h3>
                        <h5>{{product.description_6}}</h5>
                    </div>
                    <div class="desc-block">
                        <h3>Кухня и посуда</h3>
                        <h5>{{product.description_7}}</h5>
                    </div>

                </div>
            </div>
            {% endif %}
            {% if reviews != False %}
            <div class="content" id="c2">
                {% for review in reviews %}
                <div class="review">
                    <div class="review-title">
                        <i class="far fa-user-circle"></i>
                        <h3>{{ review.title }}</h3>
                    </div>
                    <p>{{ review.content }}</p>
                    <div class="review-images">
                        {% for review_image in review.imagelibrary_set.all %}
                        <img src="{{ review_image.image.url }}" alt="Image">
                        {% endfor %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"2" %}
                <div class="load_more" data-model="Reviews" data-offset="2" data-parent="{{parent.title}}" data-noparent="{{name}}" data-product="{{product.id}}"><h3>Показать ещё</h3></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% if questions != False %}
            <div class="content" id="c3">
                {% for question in questions %}
                <div class="question">
                    <div class="question-title">
                        <i class="far fa-question-circle"></i>
                        <h3>{{ question.title }}</h3>
                    </div>
                    <p>{{ question.content }}</p>
                    <div class="question-images">
                        {% for question_image in question.imagelibrary_set.all %}
                        <img src="{{ question_image.image.url }}" alt="Image">
                        {% endfor %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"2" %}
                <div class="load_more" data-model="Questions" data-offset="2" data-parent="{{parent.title}}" data-noparent="{{name}}" data-product="{{product.id}}"><h3>Показать ещё</h3></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% if audit_elements != False %}
            <div class="content" id="c4">
                {% for audit_element in audit_elements %}
                <div class="audit">
                    <div class="audit-title">
                        <i class="fas fa-piggy-bank"></i>
                        <h3>{{ audit_element.title }}</h3>
                    </div>
                    <p>{{ audit_element.content }}</p>
                    <div class="audit-images">
                        {% for audit_element_image in audit_element.imagelibrary_set.all %}
                        <img src="{{ audit_element_image.image.url }}" alt="Image">
                        {% endfor %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"2" %}
                <div class="load_more" data-model="Audits" data-offset="2" data-parent="{{parent.title}}" data-noparent="{{name}}" data-product="{{product.id}}"><h3>Показать ещё</h3></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        let tabs = $('input[name="tab"]');

        if (tabs.length == 3) {
            $('body .container label').css('width', '33.333333%');
        } else if (tabs.length == 2) {
            $('body .container label').css('width', '50%');
        } else if (tabs.length == 1) {
            $('body .container label').css('width', '100%');
        }

        // $(document).on('click', '.load_more', function () {
        //     let model = $(this).attr('data-model');
        //     let offset = $(this).attr('data-offset');
        //     let parent = $(this).attr('data-parent');
        //     let noparent = $(this).attr('data-noparent');
        //     let product = $(this).attr('data-product');
        //     if (noparent == "Premises") {
        //         parent = "Premises";
        //     }
        //     let data = {
        //         model: model,
        //         offset: offset,
        //         parent: parent,
        //         product: product,
        //         csrfmiddlewaretoken: '{{ csrf_token }}'
        //     }
        //     $.ajax({
        //         url: '/ajax/load-more-tabs/',
        //         data: data,
        //         type: 'POST',
        //         dataType: 'json',
        //         success: function(data){
        //             alert();
        //         }
        //     });
        // });
    });
</script>

