<section id="mini-product-card">
    <div class="title-container">

        <div class="title-block">
            <h2>{{product.title}}</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <h4><span>147</span> оценок</h4>
            </div>

            <div class="questions">
                <i class="fas fa-comment-alt"></i>
                <h4><span>4</span> вопроса</h4>
            </div>

            <div class="favourites">
                <i class="far fa-heart"></i>
                <h4>В избранное</h4>
            </div>

            <div class="compare">
                <i class="fas fa-cash-register"></i>
                <h4>Сравнить</h4>
            </div>

            <div class="share">
                <i class="fas fa-share"></i>
                <h4>Поделиться</h4>
            </div>
        </div>

    </div>
    <div class="add-to-cart-block">

        <div class="row-price">
            {% if not product.sale %}
            <span class="price">{{product.price}}₽</span>
            {% else %}
            <span class="sale_price">{{product.sale}}₽</span>
            {% endif %}
            <h4>за час</h4>
        </div>

        <button class="add_cart">Добавить в корзину</button>

        <a href="#"><h4>Задать вопрос</h4></a>

    </div>

    <div class="description-block">

        <h5>{{product.mini_desc}}</h5>

    </div>
</section>