<section id="reasons">
    <h2>6 причин, чтобы выбрать {{premise.title}}</h2>

    <div class="reasons-container">

        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>{{premise.reason_1}}</h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>{{premise.reason_2}}</h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>{{premise.reason_3}}</h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>{{premise.reason_4}}</h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>{{premise.reason_5}}</h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>{{premise.reason_6}} </h4>

        </div>

    </div>
</section>
