<section id="frequent-questions">

    <div class="tablet">
        <h2>Вопросы, которые нам часто задают про Ивента Лофт</h2>
    </div>

    <div class="accordion-wrapper">
        <div class="accordion">
            <input type="checkbox" name="radio-a" id="check1">
            <label class="accordion-label" for="check1"><h3>Почему нам нужно выбрать Ивента Лофт?</h3></label>
            <div class="accordion-content">
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый
                    текст мешает сосредоточиться. Lorem Ipsum используют потому,
                    что тот обеспечивает более или менее стандартное заполнение
                    шаблона
                </p>
            </div>
        </div>
        <div class="accordion">
            <input type="checkbox" name="radio-a" id="check2">
            <label class="accordion-label" for="check2"><h3>Почему нам нужно выбрать Ивента Лофт?</h3></label>
            <div class="accordion-content">
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый
                    текст мешает сосредоточиться. Lorem Ipsum используют потому,
                    что тот обеспечивает более или менее стандартное заполнение
                    шаблона
                </p>
            </div>
        </div>
        <div class="accordion">
            <input type="checkbox" name="radio-a" id="check3">
            <label class="accordion-label" for="check3"><h3>Почему нам нужно выбрать Ивента Лофт?</h3></label>
            <div class="accordion-content">
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый
                    текст мешает сосредоточиться. Lorem Ipsum используют потому,
                    что тот обеспечивает более или менее стандартное заполнение
                    шаблона
                </p>
            </div>
        </div>
        <div class="accordion">
            <input type="checkbox" name="radio-a" id="check4">
            <label class="accordion-label" for="check4"><h3>Почему нам нужно выбрать Ивента Лофт?</h3></label>
            <div class="accordion-content">
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый
                    текст мешает сосредоточиться. Lorem Ipsum используют потому,
                    что тот обеспечивает более или менее стандартное заполнение
                    шаблона
                </p>
            </div>
        </div>
    </div>

</section>