<section id="reasons">
    <h2>6 причин, чтобы выбрать Ивента Лофт</h2>

    <div class="reasons-container">

        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>
                Удобно добираться из любого района города
            </h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>
                Есть тихий уголок для взрослых
            </h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>
                Помещение закрывается под вас
            </h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>
                Много места, чтобы играть и бегать
            </h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>
                Можно приходить со своей едой и напитками
            </h4>

        </div>
        <div class="reasons-block">

            <i class="far fa-check-circle"></i>

            <h4>
                Собственная закрытая парковка
            </h4>

        </div>

    </div>
</section>
