<section id="more">

    <h2>А ещё</h2>

    <div class="more-container">

        <div class="more-box chief">
            <h3>
                Личный консьерж,
                который знает о
                праздниках всё
            </h3>
        </div>

        <div class="more-box">
            <span>Оставьте заявку</span>
            <h3><a href="#">Консьерж-сервис</a></h3>
            <span>Подберём в ручную варианты для вас</span>
        </div>

        <div class="more-box chief">
            <h3>
                Праздник на любой
                вкус и бюджет
            </h3>
        </div>

        <div class="more-box">
            <span>Вау-эффект обеспечен</span>
            <h3><a href="#">Конструктор праздника</a></h3>
            <span>Не ограничивайте фантазию</span>
        </div>
    </div>

    <div class="more-container-two">

        <div class="more-content">

            <h3>
                Теперь вам не нужно тратить время, силы и лишние деньги на
                организацию волшебства.
            </h3>

            <h3>
                Вы даже сможите отдохнуть на дне рождения своего ребёнка.
            </h3>

        </div>

    </div>

</section>