@charset "UTF-8";
h1 {
    font-size: 2.2vw;
}

h2 {
    font-size: 32px
}

h3 {
    font-size: 19.5px;
}

h4 {
    font-size: 1.1vw;
}

h5 {
    font-size: 0.95vw;
}

h6 {
    font-size: 0.9vw;
}

p {
    font-size: 1.1vw;
    line-height: 1.8vw;
}

label {
    font-size: 1vw;
}

button {
    font-size: 0.95vw;
}

input {
    font-size: 1vw;
}

select {
    font-size: 0.8vw;
}

nav li a {
    font-size: 0.95vw;
    color: #2B2B2B;
}

ul li a {
    font-size: 1.05vw;
}

.user-location a {
    color: #F2766A;
}

header {
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
}

header .top-bar {
    border-bottom: 1px solid #D7D7D7;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .top-bar .container-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .top-bar .user-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: 6%;
}

header .top-bar .user-location img {
    width: 25px;
    height: auto;
}

header .top-bar .user-location a {
    text-decoration: underline;
}

header .top-bar nav {
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-bar nav button {
    background: none;
    padding: 5px 12px;
    border-radius: 10px;
    border: 2px solid #ED776E;
}

header .top-bar nav button a {
    color: #ED776E;
}

.top-bar nav > li:nth-child(4) {
    text-decoration: underline;
}

.top-bar nav > li:nth-child(5) {
    text-decoration: underline;
}

.top-bar nav > li:nth-child(6) {
    text-decoration: underline;
    padding-left: 1%;
    border-left: 1px solid #2B2B2B;
}

header .top-bar .social-network img {
    width: 30px;
    height: auto;
}

header .top-bar .contact-phone h3 {
    color: #2B2B2B;
    font-weight: 900;
}

header .top-bar .contact-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header .top-bar .contact-phone span {
    color: #2b2b2b;
    font-size: 10.5px;
}

header .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .first-part {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .first-part .menu {
    display: flex;
    align-items: center;
    background: #F2766A;
    border-radius: 10px;
    padding: 1% 2%;
    margin-right: 4%;
    justify-content: center;
}

header .header-main .first-part .menu img {
    width: 30px;
}

header .header-main .first-part .logo {
    width: 160px;
    margin-right: 4%;
}

header .header-main .first-part .logo img {
    width: 100%;
    height: auto;
}

header .header-main .first-part .search {
    width: 70%;
    display: flex;
    position: relative;
}

header .header-main .first-part .search input {
    width: 100%;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 8%;
    padding-bottom: 15px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #ED776E;
}

header .header-main .first-part .search button {
    border: none;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    background: #ED776E;
    border-radius: 0 10px 10px 0;
    justify-content: center;
}

header .header-main .first-part .search button img {
    width: 40px;
}

header .header-main .second-part {
    width: 17%;
}

header .header-main .second-part .buttons-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .header-main .second-part .buttons-panel a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .second-part .buttons-panel a span {
    margin-top: 5px;
    font-size: 12px;
    color: #2B2B2B;
    font-weight: 600;
}

header .header-main .second-part .buttons-panel a img {
    width: 35px;
}

#result {
    padding-top: 40px;
}

#result h1 {
    color: #2B2B2B;
    font-weight: 600;
}

#result .sub-title {
    color: #626262;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 80px;
}

body #result {
    margin-top: 30px;
}

body #result .tabs-buttons .container-xxl {
    font-size: 0;
    display: flex;
    justify-content: space-between;
}

body #result label {
    display: inline-block;
    font-size: 1.1vw;
    height: 56px;
    line-height: 56px;
    width: 18%;
    font-weight: 600;
    text-align: center;
    color: #414141;
    position: relative;
    cursor: pointer;
    background: #F3F3F3;
    border-radius: 10px;
}

body #result label.active {
    color: #F2766A;
    font-weight: 700;
    background: rgba(242, 118, 106, 0.2);
}

body #result label.active div {
    display: inherit;
}

body .container-xxl .content {
    width: 75%;
    padding-top: 50px;
    margin: 0 auto;
    display: none;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
}

#result .premises-card {
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F3F3F3;
    margin-bottom: 35px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

#result .premises-card .wrap-thumbnail {
    width: 87%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

#result .premises-card .wrap-thumbnail .discount {
    left: 0;
    bottom: 0;
    color: #ffffff;
    position: absolute;
    background: #5D25DC;
    padding: 2% 5% 2% 5%;
    border-radius: 0 10px 10px 10px;
    z-index: 2;
}

#result .premises-card .wrap-thumbnail .tap {
    padding: 25% 48%;
    position: absolute;
    z-index: 2;
}

#result .premises-card .wrap-thumbnail .tap i {
    color: #fff;
    font-size: 2.5vw;
}

#result .premises-card .wrap-thumbnail img {
    width: 100%;
    height: auto;
    margin-top: -5%;
    position: absolute;
    z-index: 1;
}

#result .premises-card .wrap-thumbnail video {
    width: auto;
    height: 110%;
    z-index: 1;
    margin-left: -1%;
}

#result .premises-card .wrap-thumbnail .blackout {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
    position: absolute;
    z-index: 1;
}

#result .premises-card-content {
    width: 30%;
    padding: 3%;
    padding-bottom: 0;
    margin-right: 0.3%;
    border-radius: 20px;
}

#result .premises-card-content .title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#result .premises-card-content .title-block .part-one {
    width: 80%;
}

#result .premises-card-content .title-block .part-one span {
    font-size: 27px;
    line-height: 37px;
    font-weight: 600;
}

#result .premises-card-content .title-block .part-one h6 {
    color: #858585;
}

#result .premises-card-content .title-block .part-one span a {
    color: #000;
}

#result .premises-card-content .title-block .part-two i {
    font-size: 1.4vw;
}

#result .parameters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

#result .parameters .element {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: right;
    margin-bottom: 20px;
}

#result .parameters .element:nth-child(odd) {
    margin-right: 10%;
}

#result .parameters .element img {
    width: 25px;
    height: auto;
    margin-right: 6px;
}

#result .parameters .element span {
    font-weight: 600;
    font-size: 15px;
}

#result .premises-card-content .rating {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

#result .premises-card-content .rating h3 {
    margin-right: 8px;
    font-weight: 600;
}

#result .premises-card-content .rating img {
    width: 20px;
    margin-right: 5px;
}

#result .premises-card-content .map {
    width: 100%;
    height: 100px;
    display: flex;
}

#result .premises-card-content .map iframe {
    width: 100%;
    height: 100%;
}

#result .foods-card {
    width: 95.5%;
    height: 300px;
    padding: 4% 2% 6% 2%;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #F3F3F3;
}

#result .foods-card .title-block {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}
#result .foods-card .title-block .part-one {
    width: 55%;
    display: flex;
    align-items: center;
}
#result .foods-card .title-block .part-one span {
    font-size: 35px;
    font-weight: 600;
    margin-right: 2%;
}
#result .foods-card .title-block .part-one span a {
    color: #000;
}
#result .foods-card .title-block .part-one .discount{
    color: #fff;
    padding: 2% 6%;
    margin-right: 2%;
    border-radius: 0 10px 10px 0;
    background: #006cfa;
}
#result .foods-card .title-block .part-two {
    display: flex;
    align-items: center;
}
#result .foods-card .title-block .part-two a {
    color: #858585;
    text-decoration: underline;
}
#result .foods-card .title-block .part-two i {
    font-size: 1.8vw;
    margin-left: 14px;
}
#result .foods-card .parameters-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#result .foods-card .parameters-panel .rating {
    display: flex;
    align-items: center;
}
#result .foods-card .parameters-panel .rating .rating-block {
    margin-left: 10px;
}
#result .foods-card .parameters-panel .rating .rating-block h4{
    color: #9f9f9f;
}
#result .foods-card .parameters-panel .rating .rating-block .rating-stars img {
    width: 29px;
    margin-top: 2px;
}
#result .foods-card .parameters-panel .element {
    text-align: center;
}
#result .foods-card .parameters-panel .element span{
    font-weight: 600;
}
#result .foods-card .parameters-panel .element h4 {
    margin-bottom: 7px;
    color: #9f9f9f;
}

#result .foods-card .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#result .foods-card .empty span {
    font-size: 25px;
    font-weight: 600;
}

#result .foods-card .list-images {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
}
#result .foods-card .list-images .slide {
    width: 22%;
    margin-right: 3%;
}
#result .foods-card .list-images .price-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#result .foods-card .list-images .price-block .price {
    text-decoration: line-through;
    color: #858585;
}
#result .foods-card .list-images .price-block .price {
    text-decoration: line-through;
}
#result .foods-card .list-images .price-block .price strong {
    color: #F2766A;
    font-weight: 600;
}
#result .foods-card .list-images .price-block .sale {
    font-size: 1.2vw;
    font-weight: 600;
    margin-left: 5px;
}
#result .foods-card .list-images .price-block .sale strong {
    color: #F2766A;
    font-weight: 600;
}
#result .foods-card .list-images .slide .img-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
#result .foods-card .list-images .slide img {
    width: 100%;
    height: auto;
}

.pagination-block {
    width: 75%;
    margin: 0 auto;
    border-top: 1px solid #D7D7D7;
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.pagination-block .explanation {
    margin-bottom: 10px;
}
.pagination-block .pagination-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.pagination-block .pagination-row .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pagination-block .pagination-row .pagination button {
    padding: 6% 16%;
    color: #F2766A;
    border-radius: 5px;
    font-weight: 600;
    background: rgba(242, 118, 106, 0.2);
    border: none;
}
.pagination-block .pagination-row .pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: 20%;
    margin-left: 10%;
}
.pagination-block .pagination-row .pagination ul li {
    margin-right: 30px;
    color: #F2766A;
}
.pagination-block .pagination-row .pagination ul li.active {
    color: #fff;
    background: #F2766A;
    padding: 7% 10%;
    border-radius: 5px;
}
.pagination-block .pagination-row h4 {
    margin-right: 5%;
}
#result .last-text {
    width: 75%;
    color: #626262;
    margin: 50px auto;
    font-weight: 500;
}

#more h2 {
    width: 100%;
    font-weight: bold;
}

#more .more-container {
    width: 100%;
    display: flex;
    padding: 0.5% 1%;
    margin-top: 60px;
    border-radius: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    background: #FEC557;
}

#more .more-container .more-box {
    width: 23%;
    padding: 2% 1%;
    position: relative;
}

#more .more-container .chief {
    padding: 1.5% 2%;
    width: 19%;
    border-radius: 10px;
    background: #fff;
}

#more .more-container .arrow:after {
    top: 34%;
    right: 10%;
    font-size: 35px;
    font-weight: 900;
    content: "ÔÑÅ";
    color: #F3F3F3;
    position: absolute;
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
}

#more .more-container .more-box h3 {
    padding: 3% 0;
    width: 80%;
    font-weight: bold;
}

#more .more-container .more-box span:first-child {
    font-size: 12px;
    opacity: 0.8;
}

#more .more-container .more-box span:last-child {
    font-size: 11px;
    opacity: 0.8;
}

#more .more-container .more-box h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#more .more-container .more-box a {
    text-decoration: underline;
    font-weight: bold;
    color: #996EE2;
}

#more .more-container-two {
    width: 94%;
    margin: 0 auto;
    margin-top: 30px;
}

#more .more-container-two h4 {
    font-weight: bold;
}

#no-results {
    margin-top: 100px;
    margin-bottom: 20px;
}

#no-results .variant {
    padding: 5%;
    text-align: center;
    border-radius: 10px;
    background: #F3F3F3;
    margin-bottom: 60px;
}

#no-results .variant span{
    color: #2B2B2B;
    font-weight: 700;
    font-size: 30px;
}

#no-results .variant  h3 {
    color: #626262;
    margin-top: 10px;
    margin-bottom: 60px;
}

#no-results .variant  button {
    background: #F2766A;
    border-radius: 10px;
    padding: 1.5% 4%;
    border: none;
}

#no-results .variant  button a {
    color: #F3F3F3;
}

#no-results .variant .to-main {
    color: #F2766A;
    text-decoration: underline;
    margin-right: 20px;
    font-weight: 600;
}

footer {
    margin-top: 100px;
    box-shadow: 0px -5px 13px rgba(0, 0, 0, 0.1);
}

footer .networks {
    display: flex;
    padding: 6% 0 3% 0;
    justify-content: space-between;
    align-items: center;
}

footer .networks h3 {
    width: 20%;
    font-weight: 600;
}

footer .networks .network-block a {
    display: flex;
    align-items: center;
}

footer .networks .network-block:nth-child(2) a {
    color: #48C95F;
}

footer .networks .network-block:nth-child(3) a {
    color: #2F89CE;
}

footer .networks .network-block:nth-child(4) a {
    color: #7C509A;
}

footer .networks .network-block:nth-child(5) a {
    color: #7294C7;
}

footer .networks .network-block:last-child a {
    color: #F2766A;
}

footer .networks .network-block img {
    width: 35px;
    margin-right: 10%;
}

footer .main .container-xxl {
    display: flex;
    justify-content: space-between;
}

footer .main {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #D7D7D7;
}

footer .main .container-xxl .col {
    width: 20%;
}

footer .main .container-xxl .col h4 a {
    color: #858585;
}

footer .main .container-xxl .col button {
    color: #F2766A;
    padding: 2.5% 8%;
    background: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid #ED776E;
}

footer .main .container-xxl .col h4 {
    margin-bottom: 10px;
}

footer .main .container-xxl .col h4:first-child {
    font-weight: 600;
    margin-bottom: 20px;
}

footer .main .container-xxl .last h4:nth-child(2) {
    font-weight: 600;
}

footer .main .container-xxl .last h4:nth-child(3) {
    color: #858585;
}

footer .main .container-xxl .last h4:nth-child(4) {
    color: #858585;
}

footer .main .container-xxl .last h4:nth-child(5) {
    color: #858585;
}

footer .main .container-xxl .last h4:nth-child(6) {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}