@charset "UTF-8";
h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.2vw;
}

h4 {
  font-size: 1.1vw;
}

h5 {
  font-size: 0.95vw;
}

p {
  font-size: 0.9vw;
}

nav li a {
  font-size: 0.95vw;
}

#main {
  width: 90%;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
#main .main-slider {
  width: 100%;
}
#main .main-slider .slide .slide-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9%;
  padding-bottom: 1%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#main .main-slider .slide .slide-container .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  margin-bottom: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#main .main-slider .slide .slide-container .slide-content h1 {
  margin-bottom: 3%;
}
#main .main-slider .slide .slide-container .slide-content a {
  text-decoration: underline;
}
#main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#main .main-content .main-content-block {
  width: 50%;
  padding: 2% 1%;
  text-align: center;
  background: #8493a8;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  border-radius: 0 30px 0 30px;
}
#main .main-content .main-content-block:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}
#main .main-content .main-content-block:last-child:before {
  left: -25%;
  top: 0;
  font-size: 4vw;
  font-weight: 900;
  content: "";
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
}

#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#services .services-container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#services .services-container .service-box {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #8493a8;
}
#services .services-container .service-box .handle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #8493a8;
}
#services .services-container .service-box .service-content {
  width: 70%;
  padding: 4%;
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: -2px;
  padding-bottom: 35px;
  border: 3px solid #8493a8;
}
#services .services-container .service-box .service-content p {
  margin-top: 10px;
}
#services .services-container .service-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 999;
}