@charset "UTF-8";
h1 {
    font-size: 2.6vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.2vw;
}

h4 {
    font-size: 1.1vw;
}

h5 {
    font-size: 0.95vw;
}

h6 {
    font-size: 0.9vw;
}

p {
    font-size: 0.9vw;
}

label {
    font-size: 1vw;
}

button {
    font-size: 0.95vw;
}

a {
    color: #ED776E;
}

input {
    font-size: 0.8vw;
}

select {
    font-size: 0.8vw;
}

nav li a {
    font-size: 0.95vw;
    color: #2B2B2B;
}

ul li a {
    font-size: 1.05vw;
}

header {
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.1);
}

header .top-bar {
    border-bottom: 1px solid #D7D7D7;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .top-bar .container-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .top-bar .user-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: 6%;
}

header .top-bar .user-location img {
    width: 25px;
    height: auto;
}

header .top-bar .user-location a {
    text-decoration: underline;
}

header .top-bar nav {
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-bar nav button {
    background: none;
    padding: 5px 12px;
    border-radius: 10px;
    border: 2px solid #ED776E;
}

header .top-bar nav button a {
    color: #ED776E;
}

.top-bar nav > li:nth-child(4) {
    text-decoration: underline;
}

.top-bar nav > li:nth-child(5) {
    text-decoration: underline;
}

.top-bar nav > li:nth-child(6) {
    text-decoration: underline;
    padding-left: 1%;
    border-left: 1px solid #2B2B2B;
}

header .top-bar .social-network img {
    width: 30px;
    height: auto;
}

header .top-bar .contact-phone h3 {
    color: #2B2B2B;
    font-weight: 900;
}

header .top-bar .contact-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header .top-bar .contact-phone span {
    color: #2b2b2b;
    font-size: 10.5px;
}

header .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .first-part {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .first-part .menu {
    display: flex;
    align-items: center;
    background: #F2766A;
    border-radius: 10px;
    padding: 1% 2%;
    margin-right: 4%;
    justify-content: center;
}

header .header-main .first-part .menu img {
    width: 30px;
}

header .header-main .first-part .logo {
    width: 160px;
    margin-right: 4%;
}

header .header-main .first-part .logo img {
    width: 100%;
    height: auto;
}

header .header-main .first-part .search {
    width: 70%;
    display: flex;
    position: relative;
}

header .header-main .first-part .search input {
    width: 100%;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 8%;
    padding-bottom: 15px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #ED776E;
}

header .header-main .first-part .search button {
    border: none;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    background: #ED776E;
    border-radius: 0 10px 10px 0;
    justify-content: center;
}

header .header-main .first-part .search button img {
    width: 40px;
}

header .header-main .second-part {
    width: 17%;
}

header .header-main .second-part .buttons-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .header-main .second-part .buttons-panel a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .second-part .buttons-panel a span {
    margin-top: 5px;
    font-size: 12px;
    color: #2B2B2B;
    font-weight: 600;
}

header .header-main .second-part .buttons-panel a img {
    width: 35px;
}

#main {
    width: 90%;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#main .main-slider {
    width: 100%;
}

#main .main-slider .slide .slide-container {
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

#main .main-slider .slide .slide-container .slide-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main .main-slider .slide {
    height: 320px;
}

#main .main-slider .slide .slide-container .slide-content h1 {
    width: 50%;
    color: #fff;
    padding-top: 30px;
    font-weight: 900;
    margin-bottom: 1%;
}

#main .main-slider .slide .slide-container .slide-content h3 {
    width: 45%;
    color: #F3F3F3;
    font-weight: 400;
    line-height: 27px;
}

#main .main-slider .slide .slide-container .slide-content h5 {
    margin-top: 3%;
}

#main .main-slider .slide .slide-container .slide-content h3 span {
    font-weight: 900;
}

#main .main-slider .slide .slide-container .slide-content a {
    color: #F3F3F3;
    text-decoration: underline;
}

#main .main-content {
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding: 1% 2%;
    border-radius: 10px;
    background: #6946F4;
    position: relative;
    overflow: hidden;
}

#main .main-content a {
    color: #FEC557;
    text-decoration: underline;
}

#main .main-content h3 {
    color: #fff;
    font-weight: 400;
    transform: matrix(1, 0, 0.02, 1, 0, 0);
}

#main .main-content img {
    width: 55px;
    margin-right: 1%;
}

#services {
    padding-top: 100px;
    padding-bottom: 30px;
}

#services h2 {
    width: 90%;
    color: #4B4B4B;
    margin: 0 auto;
    font-weight: bold;
}

#services .services-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#services .services-container .service-box {
    width: 28%;
    color: #fff;
    padding: 2%;
    height: 160px;
    background: #996EE2;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#services .services-container .service-box:hover {
    background: #FE4565;
}

#services .services-container .service-box img {
    position: absolute;
}

#services > div > div:nth-child(1) > img {
    width: 300px;
    height: auto;
    top: -60px;
    right: -80px;
}

#services > div > div:nth-child(2) > img {
    width: 320px;
    height: auto;
    bottom: -38px;
    right: -145px;
}

#services > div > div:nth-child(3) > img {
    width: 320px;
    height: auto;
    bottom: -70px;
    right: -155px;
    transform: rotate(-37.06deg);
}

#services > div > div:nth-child(4) > img {
    width: 320px;
    height: auto;
    bottom: -20px;
    right: -125px;
}

#services > div > div:nth-child(5) > img {
    width: 340px;
    height: auto;
    bottom: 10px;
    right: -140px;
}

#services > div > div:nth-child(6) > img {
    width: 320px;
    height: auto;
    bottom: 0;
    right: -120px;
}

#services .services-container .service-box h3 {
    width: 45%;
    line-height: 27px;
    font-weight: 900;
    margin-bottom: 15px;
}

#services .services-container .service-box h4 {
    line-height: 22px;
}

#more {
    padding-top: 60px;
}

#more h2 {
    width: 88%;
    font-weight: bold;
    margin: 0 auto;
}

#more .more-container {
    width: 88%;
    margin: 0 auto;
    display: flex;
    padding: 0.5% 1%;
    margin-top: 60px;
    border-radius: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    background: #FEC557;
}

#more .more-container .more-box {
    width: 23%;
    padding: 2% 1%;
    position: relative;
}

#more .more-container .chief {
    padding: 1.5% 2%;
    width: 19%;
    border-radius: 10px;
    background: #fff;
}

#more .more-container .arrow:after {
    top: 34%;
    right: 10%;
    font-size: 35px;
    font-weight: 900;
    content: "ï„";
    color: #F3F3F3;
    position: absolute;
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
}

#more .more-container .more-box h3 {
    padding: 3% 0;
    width: 80%;
    font-weight: bold;
}

#more .more-container .more-box span:first-child {
    font-size: 12px;
    opacity: 0.8;
}

#more .more-container .more-box span:last-child {
    font-size: 11px;
    opacity: 0.8;
}

#more .more-container .more-box h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#more .more-container .more-box a {
    text-decoration: underline;
    font-weight: bold;
    color: #996EE2;
}

#more .more-container-two {
    width: 84%;
    margin: 0 auto;
    margin-top: 30px;
}

#more .more-container-two h4 {
    font-weight: bold;
}

#choose {
    margin-top: 120px;
    padding-bottom: 40px;
}

#choose h2 {
    width: 88%;
    margin: 0 auto;
    font-weight: bold;
}

#choose h2 strong {
    line-height: 80px;
    font-size: 25px;
    font-weight: 600;
}

#choose .choose-container {
    width: 88%;
    margin: 0 auto;
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

#choose .choose-container .image-block {
    display: flex;
    padding: 8% 0;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#choose .choose-container .image-block span {
    width: 45%;
    font-weight: 900;
    padding-left: 50px;
    color: #fff;
    font-size: 25px;
}
 .choose-container .image-block span a {
    color: #fff;
}

#choose .choose-container .one {
    width: 49%;
}

#choose .choose-container .two {
    width: 49%;
}

#choose .choose-container .three {
    width: 41%;
}

#choose .choose-container .four {
    width: 57%;
}

#choose .choose-container .five {
    width: 100%;
}

#choose .choose-container .five span {
    width: 100%;
}

footer {
    margin-top: 40px;
    box-shadow: 0px -5px 13px rgba(0, 0, 0, 0.1);
}

footer .networks {
    display: flex;
    padding: 6% 0 3% 0;
    justify-content: space-between;
    align-items: center;
}
footer .networks h3 {
    width: 20%;
    font-weight: 600;
}
footer .networks .network-block a {
    display: flex;
    align-items: center;
}
footer .networks .network-block:nth-child(2) a {
    color: #48C95F;
}
footer .networks .network-block:nth-child(3) a {
    color: #2F89CE;
}
footer .networks .network-block:nth-child(4) a {
    color: #7C509A;
}
footer .networks .network-block:nth-child(5) a {
    color: #7294C7;
}
footer .networks .network-block:last-child a {
    color: #F2766A;
}
footer .networks .network-block img {
    width: 35px;
    margin-right: 10%;
}
footer .main .container-xxl {
    display: flex;
    justify-content: space-between;
}
footer .main {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #D7D7D7;
}
footer .main .container-xxl .col {
    width: 20%;
}
footer .main .container-xxl .col h4 a {
    color: #858585;
}
footer .main .container-xxl .col button {
    color: #F2766A;
    padding: 2.5% 8%;
    background: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid #ED776E;
}
footer .main .container-xxl .col h4 {
    margin-bottom: 10px;
}
footer .main .container-xxl .col h4:first-child {
    font-weight: 600;
    margin-bottom: 20px;
}
footer .main .container-xxl .last h4:nth-child(2) {
    font-weight: 600;
}
footer .main .container-xxl .last h4:nth-child(3) {
    color: #858585;
}
footer .main .container-xxl .last h4:nth-child(4) {
    color: #858585;
}
footer .main .container-xxl .last h4:nth-child(5) {
    color: #858585;
}
footer .main .container-xxl .last h4:nth-child(6) {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (min-width: 1700px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 13px;
    }

    h6 {
        font-size: 11px;
    }

    p {
        font-size: 10px;
    }

    label {
        font-size: 13px;
    }

    button {
        font-size: 12px;
    }

    input {
        font-size: 8px;
    }

    select {
        font-size: 8px;
    }

    nav li a {
        font-size: 12px;
    }

    ul li a {
        font-size: 14px;
    }

    header .top-bar .contact-phone span {
        font-size: 9px;
    }

    header .top-bar .social-network i {
        font-size: 30px;
    }

    header .header-main .first-part .search:after {
        font-size: 26px
    }

    header .header-main .first-part .search input {
        font-size: 12px;
    }

    header .header-main .second-part .buttons-panel a i {
        font-size: 30px;
    }

    header .header-main .second-part .buttons-panel a span {
        font-size: 10px;
    }

    #main .main-content .main-content-block:last-child:before {
        font-size: 70px;
    }

    #more .more-container .more-box span:last-child {
        font-size: 12px;
    }

    #services .services-container .service-box .handle {
        width: 30px;
        height: 30px;
    }

    #more .more-container .chief:after {
        font-size: 35px;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 11px;
    }

    h5 {
        font-size: 10px;
    }

    h6 {
        font-size: 8px;
    }

    p {
        font-size: 9px;
    }

    label {
        font-size: 10px;
    }

    button {
        font-size: 9px;
    }

    input {
        font-size: 5px;
    }

    select {
        font-size: 5px;
    }

    nav li a {
        display:block;
        font-size: 9px;
    }

    ul li a {
        font-size: 11px;
    }

    header .top-bar .contact-phone span {
        font-size: 7px;
    }

    header .top-bar .social-network img {
        width: 23px;
        height: auto;
    }

    header .header-main .first-part .search:after {
        font-size: 12px
    }

    header .header-main .first-part .search input {
        font-size: 9px;
    }
    header .header-main .first-part .search button img {
        width: 30px;
    }
    header .header-main .second-part .buttons-panel a img {
        width: 23px;
    }

    header .header-main .second-part .buttons-panel a span {
        font-size: 7px;
    }
    #main > div.main-slider.slick-initialized.slick-slider > div > div > div:nth-child(2) > div > div > div > div > h1 {
        padding-top: 0;
    }
    #main .main-slider .slide {
        height: 270px;
    }
    #main .main-content img {
        width: 42px;
    }
    #main .main-content .main-content-block:last-child:before {
        font-size: 60px;
    }

    #more .more-container .more-box span:last-child {
        font-size: 8px;
    }
    #services .services-container .service-box .handle {
        width: 25px;
        height: 25px;
    }
    #more .more-container .chief:after {
        font-size: 25px;
    }
    
    #services > div > div:nth-child(1) > img {
        width: 270px;
        right: -70px;
    }
    
    #services > div > div:nth-child(2) > img {
        width: 290px;
        right: -135px;
    }
    
    #services > div > div:nth-child(3) > img {
        width: 290px;
        right: -145px;
    }
    
    #services > div > div:nth-child(4) > img {
        width: 290px;
        right: -115px;
    }
    
    #services > div > div:nth-child(5) > img {
        width: 310px;
        right: -110px;
    }
    
    #services > div > div:nth-child(6) > img {
        width: 290px;
        right: -110px;
    }
    #services .services-container .service-box {
        height: 140px;
    }
    #choose .choose-container .image-block span {
        font-size: 16px;
    }
    footer .networks .network-block img {
        width: 25px;
    }
}