@charset "UTF-8";
h1 {
    font-size: 2.6vw;
}

h2 {
    font-size: 1.75vw;
}

h3 {
    font-size: 1.2vw;
}

h4 {
    font-size: 1vw;
}

h5 {
    font-size: 0.95vw;
}

h6 {
    font-size: 0.85vw;
}

p {
    font-size: 0.9vw;
}

label {
    font-size: 1vw;
}

button {
    font-size: 0.8vw;
}

input {
    font-size: 0.8vw;
}

select {
    font-size: 0.8vw;
}

nav li a {
    font-size: 0.95vw;
    color: #2B2B2B;
}

ul li a {
    font-size: 0.9vw;
}
.user-location a {
    color: #F2766A;
}
header {
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.1);
}

header .top-bar {
    border-bottom: 1px solid #D7D7D7;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .top-bar .container-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .top-bar .user-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: 6%;
}

header .top-bar .user-location img {
    width: 25px;
    height: auto;
}

header .top-bar .user-location a {
    text-decoration: underline;
}

header .top-bar nav {
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-bar nav button {
    background: none;
    padding: 5px 12px;
    border-radius: 10px;
    border: 2px solid #ED776E;
}

header .top-bar nav button a {
    color: #ED776E;
}

.top-bar nav > li:nth-child(4) {
    text-decoration: underline;
}

.top-bar nav > li:nth-child(5) {
    text-decoration: underline;
}

.top-bar nav > li:nth-child(6) {
    text-decoration: underline;
    padding-left: 1%;
    border-left: 1px solid #2B2B2B;
}

header .top-bar .social-network img {
    width: 30px;
    height: auto;
}

header .top-bar .contact-phone h3 {
    color: #2B2B2B;
    font-weight: 900;
}

header .top-bar .contact-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header .top-bar .contact-phone span {
    color: #2b2b2b;
    font-size: 10.5px;
}

header .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .first-part {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .first-part .menu {
    display: flex;
    align-items: center;
    background: #F2766A;
    border-radius: 10px;
    padding: 1% 2%;
    margin-right: 4%;
    justify-content: center;
}

header .header-main .first-part .menu img {
    width: 30px;
}

header .header-main .first-part .logo {
    width: 160px;
    margin-right: 4%;
}

header .header-main .first-part .logo img {
    width: 100%;
    height: auto;
}

header .header-main .first-part .search {
    width: 70%;
    display: flex;
    position: relative;
}

header .header-main .first-part .search input {
    width: 100%;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 8%;
    padding-bottom: 15px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #ED776E;
}

header .header-main .first-part .search button {
    border: none;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    background: #ED776E;
    border-radius: 0 10px 10px 0;
    justify-content: center;
}

header .header-main .first-part .search button img {
    width: 40px;
}

header .header-main .second-part {
    width: 17%;
}

header .header-main .second-part .buttons-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .header-main .second-part .buttons-panel a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-main .second-part .buttons-panel a span {
    margin-top: 5px;
    font-size: 12px;
    color: #2B2B2B;
    font-weight: 600;
}

header .header-main .second-part .buttons-panel a img {
    width: 35px;
}

#mini-panel {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#mini-panel .breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#mini-panel .breadcrumbs li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px;
    position: relative;
}
#mini-panel .breadcrumbs li:after {
    right: -10px;
    content: "/";
    color: #858585;
    position: absolute;
}
#mini-panel .breadcrumbs li:last-child:after {
    display: none;
}
#mini-panel .breadcrumbs li a {
    color: #858585;
    font-weight: 500;
}
.sidebar {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-right: 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sidebar h3 {
    font-weight: 600;
    margin-bottom: 25px;
}
.sidebar img {
    width: 17px;
}
.sidebar .sidebar-block {
    width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sidebar .sidebar-block:last-child .text-block {
    background: rgba(242, 118, 106, 0.2);
}
.sidebar .sidebar-block .input-block {
    width: 100%;
    margin-bottom: 10px;
}
.sidebar .sidebar-block .input-block select {
    padding: 4%;
    margin-top: 10px;
    width: 99%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}
.sidebar .sidebar-block .input-block input[type=text] {
    padding: 3%;
    margin-top: 10px;
    width: 93%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}
.sidebar .sidebar-block .input-block input[type=date] {
    padding: 3%;
    margin-top: 10px;
    width: 93%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}
.sidebar .sidebar-block .input-block .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
.sidebar .sidebar-block .input-block .checkbox input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    margin-right: 5%;
}
.sidebar .sidebar-block .input-block .checkbox input[type=checkbox]:before {
    font-family: "FontAwesome";
    content: "";
    margin-top: -1px;
    color: transparent !important;
    background: #ffffff;
    display: block;
    width: 1vw;
    height: 1vw;
    font-size: 0.9vw;
    border: 3px solid #F2766A;
}
.sidebar .sidebar-block .input-block .checkbox input[type=checkbox]:checked:before {
    color: #ffffff !important;
    background: #F2766A;
}
.sidebar .sidebar-block .input-block-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.sidebar .sidebar-block .input-block-group .input-block {
    width: 45%;
}
.sidebar .sidebar-block .input-block-group .input-block select {
    padding: 8%;
    width: 99%;
}
.sidebar .sidebar-block .text-block {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14% 7%;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #F3F3F3;
}
.sidebar .sidebar-block .text-block h4 {
    font-weight: 900;
    color: #2B2B2B;
    margin-bottom: 15px;
}
.sidebar .sidebar-block .text-block p {
    color: #626262;
    margin-bottom: 10px;
}
.sidebar .sidebar-block .text-block h3 {
    margin-bottom: 10px;
}
.sidebar .sidebar-block .text-block button {
    width: 85%;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    background: #F2766A;
    color: #ffffff;
    padding: 7%;
    border: none;
}

.pagination-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.pagination-block .explanation {
    margin-bottom: 10px;
}
.pagination-block .pagination-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.pagination-block .pagination-row .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pagination-block .pagination-row .pagination button {
    padding: 6% 16%;
    color: #F2766A;
    border-radius: 5px;
    font-weight: 600;
    background: rgba(242, 118, 106, 0.2);
    border: none;
}
.pagination-block .pagination-row .pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: 20%;
    margin-left: 10%;
}
.pagination-block .pagination-row .pagination ul li {
    margin-right: 30px;
    color: #F2766A;
}
.pagination-block .pagination-row .pagination ul li.active {
    color: #fff;
    background: #F2766A;
    padding: 7% 10%;
    border-radius: 5px;
}
.pagination-block .pagination-row h4 {
    margin-right: 5%;
}

#insert-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    border-radius: 10px;
}
#insert-panel .insert-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 89%;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}
#insert-panel .insert-block .text-block  {
    font-weight: 900;
    padding-left: 15%;
}
#insert-panel .text-block  h3 {
    font-weight: 900;
}
#insert-panel .text-block  h4 {
    font-weight: 400;
    color: #F3F3F3;
}
#insert-panel .list-button {
    width: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#insert-panel .list-button img {
    width: 35px;
    color: #ffffff;
}
#insert-panel .list-button span {
    font-size: 11px;
    margin-top: 3px;
    color: #ffffff;
    text-decoration: underline;
}
#insert-panel a {
    width: 11%;
    background: #5D25DC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 1%;
    color: #fff;
    text-decoration: underline;
    border-radius: 0 10px 10px 0;
}
#insert-panel a img {
    width: 50px;
    height: auto;
}
#top-panel {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D7D7D7;
}
#top-panel .notification {
    padding: 0.5%;
    border-radius: 3px;
}
#top-panel .notification h2 {
    font-weight: 600;
    color: #2B2B2B;
}
#top-panel .sorting {
    width: 30%;
    display: flex;
    color: #626262;
    align-items: center;
    justify-content: flex-end;
}
#top-panel .sorting h4 {
    margin-right: 8%;
}
#top-panel .sorting select {
    padding: 2% 1.5%;
    width: 60%;
    color: #2B2B2B;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}
#main {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#main .content {
    width: 80%;
}

#main .content .premises-card {
    width: 100%;
    height: 435px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F3F3F3;
    margin-bottom: 35px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
#main .content .premises-card .wrap-thumbnail {
    width: 87%;
    height: 435px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
#main .content .premises-card .wrap-thumbnail .discount {
    left: 0;
    bottom: 0;
    color: #ffffff;
    position: absolute;
    background: #5D25DC;
    padding: 2% 5% 2% 5%;
    border-radius: 0 10px 10px 10px;
    z-index: 2;
}
#main .content .premises-card .wrap-thumbnail .tap {
    padding: 25% 48%;
    position: absolute;
    z-index: 2;
}
#main .content .premises-card .wrap-thumbnail .tap i {
    color: #fff;
    font-size: 2.5vw;
}
#main .content .premises-card .wrap-thumbnail img {
    width: 100%;
    height: auto;
    margin-top: -5%;
    position: absolute;
    z-index: 1;
}
#main .content .premises-card .wrap-thumbnail video {
    width: auto;
    height: 110%;
    z-index: 1;
    margin-left: -1%;
}
#main .content .premises-card .wrap-thumbnail .blackout {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
    position: absolute;
    z-index: 1;
}
#main .content .premises-card-content {
    width: 30%;
    padding: 3%;
    padding-bottom: 0;
    margin-right: 0.3%;
    border-radius: 20px;
}
#main .content .premises-card-content .title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#main .content .premises-card-content .title-block .part-one{
    width: 90%;
}

#main .content .premises-card-content .title-block .part-one span{
    font-size: 27px;
    line-height: 37px;
    font-weight: 600;
}

#main .content .premises-card-content .title-block .part-one h6 {
    color: #858585;
}

#main .content .premises-card-content .title-block .part-one span a{
    color: #000;
}
#main .content .premises-card-content .title-block .part-two i{
    font-size: 1.4vw;
}
#main .parameters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
#main .parameters .element {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}
#main .parameters .element:nth-child(odd) {
    margin-right: 10%;
}
#main .parameters .element img {
    width: 30px;
    height: auto;
    margin-right: 6px;
}
#main .parameters .element span {
    font-weight: 600;
    font-size: 17px;
}
#main .content .premises-card-content .rating {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
#main .content .premises-card-content .rating h3 {
    margin-right: 8px;
    font-weight: 600;
}
#main .content .premises-card-content .rating img {
    width: 20px;
    margin-right: 5px;
}

#main .content .premises-card-content .map {
    width: 100%;
    height: 100px;
    display: flex;
}
#main .content .premises-card-content .map iframe {
    width: 100%;
    height: 100%;
}

#main .content .advertisement-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding: 2%;
    background: #F3F3F3;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
#main .content .advertisement-one h3 {
    width: 60%;
    padding-left: 15%;
    color: #414141;
    font-weight: 600;
}
#main .content .advertisement-one .block-button {
    width: 21%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#main .advertisement-one h3 span {
    color: #0057FF;
}
#main .content .advertisement-one .block-button button {
    padding: 8% 22%;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #F2766A;
    color: #fff;
    border: none;
}
#main .content .advertisement-one .block-button span {
    font-size: 12px;
    color: #858585;
}
#main .advertisement-one img {
    width: 120px;
    position: absolute;
    bottom: -20px;
    left: 1%;
    transform: rotate(-30deg);
}
#main .content .advertisement-two {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 2%;
    background: #F3F3F3;
    border-radius: 10px;
}

#main .content .advertisement-two .content-block {
    width: 70%;
}

#main .content .advertisement-two .content-block a {
    font-size: 20px;
    line-height: 29px;
    color: #FE4565;
    font-weight: 800;
}
#main .content .advertisement-two .content-block h3 {
    color: #858585;
    margin-top: 10px;
}
#main .advertisement-two img {
    width: 120px;
    margin-left: 5%;
    margin-right: 6%;
}
#more {
    padding-top: 60px;
}

#more h2 {
    width: 100%;
    font-weight: bold;
}

#more .more-container {
    width: 100%;
    display: flex;
    padding: 0.5% 1%;
    margin-top: 60px;
    border-radius: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    background: #FEC557;
}

#more .more-container .more-box {
    width: 23%;
    padding: 2% 1%;
    position: relative;
}

#more .more-container .chief {
    padding: 1.5% 2%;
    width: 19%;
    border-radius: 10px;
    background: #fff;
}

#more .more-container .arrow:after {
    top: 34%;
    right: 10%;
    font-size: 35px;
    font-weight: 900;
    content: "";
    color: #F3F3F3;
    position: absolute;
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
}

#more .more-container .more-box h3 {
    padding: 3% 0;
    width: 80%;
    font-weight: bold;
}

#more .more-container .more-box span:first-child {
    font-size: 12px;
    opacity: 0.8;
}

#more .more-container .more-box span:last-child {
    font-size: 11px;
    opacity: 0.8;
}

#more .more-container .more-box h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#more .more-container .more-box a {
    text-decoration: underline;
    font-weight: bold;
    color: #996EE2;
}

#more .more-container-two {
    width: 94%;
    margin: 0 auto;
    margin-top: 30px;
}

#more .more-container-two h4 {
    font-weight: bold;
}

#choose {
    margin-top: 120px;
    padding-bottom: 40px;
}

#choose h2 {
    width: 100%;
    font-weight: bold;
}

#choose h2 strong {
    line-height: 80px;
    font-size: 25px;
    font-weight: 600;
}

#choose .choose-container {
    width: 100%;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

#choose .choose-container .image-block {
    display: flex;
    padding: 8% 0;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

#choose .choose-container .image-block span {
    width: 45%;
    font-weight: 900;
    padding-left: 50px;
    color: #fff;
    font-size: 25px;
}

#choose .choose-container .one {
    width: 49%;
}

#choose .choose-container .two {
    width: 49%;
}

#choose .choose-container .three {
    width: 41%;
}

#choose .choose-container .four {
    width: 57%;
}

#choose .choose-container .five {
    width: 100%;
}

#choose .choose-container .five span {
    width: 100%;
}

footer {
    margin-top: 60px;
    box-shadow: 0px -5px 13px rgba(0, 0, 0, 0.1);
}

footer .networks {
    display: flex;
    padding: 6% 0 3% 0;
    justify-content: space-between;
    align-items: center;
}
footer .networks h3 {
    width: 20%;
    font-weight: 600;
}
footer .networks .network-block a {
    display: flex;
    align-items: center;
}
footer .networks .network-block:nth-child(2) a {
    color: #48C95F;
}
footer .networks .network-block:nth-child(3) a {
    color: #2F89CE;
}
footer .networks .network-block:nth-child(4) a {
    color: #7C509A;
}
footer .networks .network-block:nth-child(5) a {
    color: #7294C7;
}
footer .networks .network-block:last-child a {
    color: #F2766A;
}
footer .networks .network-block img {
    width: 35px;
    margin-right: 10%;
}
footer .main .container-xxl {
    display: flex;
    justify-content: space-between;
}
footer .main {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #D7D7D7;
}
footer .main .container-xxl .col {
    width: 20%;
}
footer .main .container-xxl .col h4 a {
    color: #858585;
}
footer .main .container-xxl .col button {
    color: #F2766A;
    padding: 2.5% 8%;
    background: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid #ED776E;
}
footer .main .container-xxl .col h4 {
    margin-bottom: 10px;
}
footer .main .container-xxl .col h4:first-child {
    font-weight: 600;
    margin-bottom: 20px;
}
footer .main .container-xxl .last h4:nth-child(2) {
    font-weight: 600;
}
footer .main .container-xxl .last h4:nth-child(6) {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (min-width: 1700px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 13px;
    }

    h6 {
        font-size: 11px;
    }

    p {
        font-size: 10px;
    }

    label {
        font-size: 13px;
    }

    button {
        font-size: 12px;
    }

    input {
        font-size: 12px;
    }

    select {
        font-size: 12px;
    }

    nav li a {
        font-size: 12px;
    }

    ul li a {
        font-size: 14px;
    }
    header .top-bar .contact-phone span {
        font-size: 9px;
    }
    header .top-bar .social-network i {
        font-size: 30px;
    }
    header .header-main .first-part .search:after {
        font-size: 26px
    }
    header .header-main .first-part .search input {
        font-size: 12px;
    }
    header .header-main .second-part .buttons-panel a i {
        font-size: 30px;
    }
    header .header-main .second-part .buttons-panel a span {
        font-size: 10px;
    }
    #insert-panel .list-button i {
        font-size: 30px;
    }
    #insert-panel a i {
        font-size: 50px;
    }
    #main .content .premises-card .wrap-thumbnail .tap i {
        font-size: 30px;
    }
    #main .content .premises-card .wrap-thumbnail .camera i {
        font-size: 30px;
    }
    #main .content .premises-card .wrap-thumbnail {
        height: 370px;
    }
    #main .content .premises-card {
        height: 370px;
    }
    .sidebar .sidebar-block .input-block .checkbox input[type=checkbox]:before {
        width: 17px;
        height: 17px;
        font-size: 15px;
    }
    #main .content .advertisement-one .block-button span {
        font-size: 10px;
    }
    #more .more-container .more-box span:last-child {
        font-size: 12px;
    }
    #main .content .premises-card-content .title-block .part-two i {
        font-size: 22px;
    }
    #main .parameters .element img {
        width: 20px;
        height: auto;
    }
    #services .services-container .service-box .handle {
        width: 30px;
        height: 30px;
    }
    #more .more-container .chief:after {
        font-size: 35px;
    }
}
@media (max-width: 1200px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 11px;
    }

    h5 {
        font-size: 10px;
    }

    h6 {
        font-size: 8px;
    }

    p {
        font-size: 9px;
    }

    label {
        font-size: 11px;
    }

    button {
        font-size: 9px;
    }

    input {
        font-size: 9px;
    }

    select {
        font-size: 9px;
    }
    nav li a {
        display:block;
        font-size: 9px;
    }

    ul li a {
        font-size: 11px;
    }

    header .top-bar .contact-phone span {
        font-size: 7px;
    }

    header .top-bar .social-network img {
        width: 23px;
        height: auto;
    }

    header .header-main .first-part .search:after {
        font-size: 12px
    }

    header .header-main .first-part .search input {
        font-size: 9px;
    }
    header .header-main .first-part .search button img {
        width: 30px;
    }
    header .header-main .second-part .buttons-panel a img {
        width: 23px;
    }

    header .header-main .second-part .buttons-panel a span {
        font-size: 7px;
    }
    #insert-panel .list-button img {
        width: 25px;
    }
    #insert-panel a img {
        width: 35px;
    }
    #insert-panel .list-button span {
        font-size: 8px;
    }
    #main .content .premises-card-content .title-block .part-one span {
        font-size: 22px;
        line-height: 31px;
    }
    #main .content .premises-card .wrap-thumbnail .tap i {
        font-size: 27px;
    }
    #main .content .premises-card .wrap-thumbnail {
        height: 335px;
    }
    #main .content .premises-card {
        height: 335px;
    }
    #main .content .premises-card-content .map {
        height: 85px;
    }
    #main .parameters .element img {
        width: 20px;
    }
    .sidebar .sidebar-block .input-block .checkbox input[type=checkbox]:before {
        width: 12px;
        height: 12px;
        font-size: 11px;
    }
    #main .content .premises-card .wrap-thumbnail .tap {
        padding: 29% 48%;
    }
    #main .content .advertisement-one .block-button span {
        font-size: 8px;
    }
    #more .more-container .more-box span:last-child {
        font-size: 9px;
    }
    #services .services-container .service-box .handle {
        width: 25px;
        height: 25px;
    }
    #main .parameters .element span {
        font-size: 13px;
    }
    #more .more-container .chief:after {
        font-size: 25px;
    }
    #choose .choose-container .image-block span {
        font-size: 16px;
    }
    footer .networks .network-block img {
        width: 25px;
    }
}