{% load static %}
<header>
    <div class="top-bar">
        <div class="user-location">
            <i class="fas fa-map-marker-alt"></i>
            <h5>Ваш город: <a href="#">Санкт-Петербург</a></h5>
        </div>
        <nav>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как заказать</a></li>
            <li><button><a href="#">Разместить услуги</a></button></li>
            <li><a href="#">Безопасная сделка</a></li>
            <li><a href="#">Гарантия качества</a></li>
            <li><a href="#">Служба поддержки</a></li>
        </nav>
        <div class="social-network">
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="#">
                <i class="fab fa-telegram"></i>
            </a>
        </div>
        <a class="contact-phone">
            <h3>+7 XXX XXX XX XX</h3>
            <span>Работаем ежедневно с 9-00 до 21-00</span>
        </a>
    </div>
    <div class="header-main">
        <div class="first-part">
            <div class="logo">
                <img src="{% static 'icons/logo.png' %}" alt="Logo">
            </div>
            <div class="search">
                <input type="text" id="search" name="s" placeholder="Чего не хватает вашему празднику? например: торт, аниматор, квест">
            </div>
        </div>
        <div class="second-part">
            <div class="buttons-panel">
                <a href="#">
                    <i class="far fa-smile"></i>
                    <span>Аня Иванова</span>
                </a>
                <a href="#">
                    <i class="far fa-heart"></i>
                </a>
                <a href="#">
                    <i class="far fa-bell"></i>
                </a>
                <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
</header>