<div class="pagination-block">
    <div class="explanation">
        <h4>Найдено 45 подходящих вариантов</h4>
    </div>
    <div class="pagination-row">
        <div class="pagination">
            <button>Назад</button>
            <ul>
                <li><a href="#"><</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">></a></li>
            </ul>
            <button>Вперёд</button>
        </div>
        <h4>Показаны <span class="w-now">20</span> из <span class="w-all">45</span></h4>
    </div>
</div>
