.pagination-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pagination-block .explanation {
  margin-bottom: 10px;
}
.pagination-block .pagination-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pagination-block .pagination-row .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination-block .pagination-row .pagination button {
  padding: 4% 16%;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
.pagination-block .pagination-row .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40%;
  margin-left: 10%;
}
.pagination-block .pagination-row .pagination ul li {
  margin-right: 15%;
}
.pagination-block .pagination-row .pagination ul li.active a {
  text-decoration: underline;
}
.pagination-block .pagination-row h4 {
  margin-right: 5%;
}