{% load static %}
{% load mathfilters %}
<section id="product-card">

    <div class="title-container">

        <div class="title-block">
            <h2>{{product.title}}</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <h4><span>147</span> оценок</h4>
            </div>

            <div class="questions">
                <i class="fas fa-comment-alt"></i>
                <h4><span>4</span> вопроса</h4>
            </div>

            <div class="favourites">
                <i class="far fa-heart"></i>
                <h4>В избранное</h4>
            </div>

            <div class="compare">
                <i class="fas fa-cash-register"></i>
                <h4>Сравнить</h4>
            </div>

            <div class="share">
                <i class="fas fa-share"></i>
                <h4>Поделиться</h4>
            </div>
        </div>

        <div class="description-block">

            <h4>{{product.mini_desc}}</h4>

        </div>

    </div>

    <div class="card-container">

        <div class="block-viewing">

            <div class="slider-viewing">
                {% for product_slider_image in product.premisesimage_set.all %}
                <div class="slide">
                    <img src="{{product_slider_image.image.url}}" alt="Image">
                </div>
                {% endfor %}
                {% if not product.video %}
                <div class="slide">
                    <img src="{{product.image.url}}" alt="Image">
                </div>
                {% else %}
                <div class="slide">
                    <video controls="false" src="{{ product.video.url }}"></video>
                    <div class="camera">
                        <i class="fas fa-video"></i>
                    </div>
                    <div class="blackout"></div>
                </div>
                {% endif %}
            </div>
            <div class="slider-preview">
                {% if product.video %}
                <video controls="false" src="{{ product.video.url }}"></video><div class="tap"><i class="fas fa-hand-pointer"></i></div>
                {% else %}
                <div style="background: url({{ product.image.url }}); background-size: cover; background-position: center"></div>
                {% endif %}

            </div>

        </div>

        <div class="block-characteristic">

            <div class="characteristic-row">
                <h4>Вместимость</h4>
                <h3>{{product.count_peoples}}</h3>
            </div>

            <div class="characteristic-row">
                <h4>Площадь</h4>
                <h3>{{product.square}} кв.м</h3>
            </div>

            <div class="characteristic-row">
                <h4>Этаж</h4>
                <h3>{{product.floor}}</h3>
            </div>

            <div class="characteristic-row">
                <h4>Парковка</h4>
                {% if product.parking %}
                <h3>Собственная</h3>
                {% else %}
                <h3>Общественная</h3>
                {% endif %}
            </div>

            <div class="characteristic-row">
                <h4>Адрес</h4>
                <h3>{{product.address}}</h3>
            </div>

            <div class="characteristic-row">
                <h4><a href="#">Как добраться?</a></h4>
                <div class="map">
                    Карта
                </div>
            </div>

        </div>

        <div class="block-add-cart">

            <div class="row-price">
                {% if product.sale %}
                <span class="price">{{product.sale}}₽</span>
                <h4>за час</h4>
                <span class="sale_price">{{product.price}}₽</span>
                {% else %}
                <span class="price">{{product.price}}₽</span>
                <h4>за час</h4>
                {% endif %}
            </div>
            {% if product.sale %}
            <h4><span class="economy">{{product.price|sub:product.sale}}₽</span> ваша экономия в час</h4>
            {% endif %}
            <h4>Б <span class="bonus">X2</span> 80 бонусов на ваш счёт</h4>
            <button class="add_cart" data-product="{{product.id}}" data-model="Premises">Добавить в корзину</button>
            {% if min_price != product.price %}
            <a href="{{ SITE_URL }}/product/premise/{{cheaper_slug}}" class="row-cheaper">
                <h4>Есть дешевле</h4>
                <span>{{min_price}}₽</span>
            </a>
            {% endif %}
        </div>

</section>

<script>
    $(document).ready(function() {
        $(document).on('click','.add_cart', function () {
            let product = $(this).attr('data-product');
            let model = $(this).attr('data-model');
            let data = {product_id: product, model_name: model, csrfmiddlewaretoken: '{{ csrf_token }}'}

            $.ajax({
                url: '/ajax/add-cart/',
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function(data){
                    alert();
                }
            });
        });
    });
</script>