{% load static %}
{% load mathfilters %}
<section id="product-card">

    <div class="title-container">

        <div class="title-block">
            <h2>{{premise.title}}</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <h4><span>147</span> оценок</h4>
            </div>

            <div class="questions">
                <i class="fas fa-comment-alt"></i>
                <h4><span>4</span> вопроса</h4>
            </div>

            <div class="favourites">
                <i class="far fa-heart"></i>
                <h4>В избранное</h4>
            </div>

            <div class="compare">
                <i class="fas fa-cash-register"></i>
                <h4>Сравнить</h4>
            </div>

            <div class="share">
                <i class="fas fa-share"></i>
                <h4>Поделиться</h4>
            </div>
        </div>

        <div class="description-block">

            <h4>{{premise.mini_desc}}</h4>

        </div>

    </div>

    <div class="card-container">

        <div class="block-viewing">

            <div class="slider-viewing">
                {% for premise_image in premises_images %}
                <div class="slide">
                    <img src="{{premise_image.image.url}}" alt="Image">
                </div>
                {% endfor %}
                {% if not premise.video %}
                <div class="slide">
                    <img src="{{premise.image.url}}" alt="Image">
                </div>
                {% else %}
                <div class="slide">
                    <video controls="false" src="{{ premise.video.url }}"></video>
                    <div class="camera">
                        <i class="fas fa-video"></i>
                    </div>
                    <div class="blackout"></div>
                </div>
                {% endif %}
            </div>
            <div class="slider-preview">
                {% if premise.video %}
                <video controls="false" src="{{ premise.video.url }}"></video><div class="tap"><i class="fas fa-hand-pointer"></i></div>
                {% else %}
                <div style="background: url({{ premise.image.url }}); background-size: cover; background-position: center"></div>
                {% endif %}

            </div>

        </div>

        <div class="block-characteristic">

            <div class="characteristic-row">
                <h4>Вместимость</h4>
                <h3>{{premise.count_peoples}}</h3>
            </div>

            <div class="characteristic-row">
                <h4>Площадь</h4>
                <h3>{{premise.square}} кв.м</h3>
            </div>

            <div class="characteristic-row">
                <h4>Этаж</h4>
                <h3>{{premise.floor}}</h3>
            </div>

            <div class="characteristic-row">
                <h4>Парковка</h4>
                {% if premise.parking %}
                <h3>Собственная</h3>
                {% else %}
                <h3>Общественная</h3>
                {% endif %}
            </div>

            <div class="characteristic-row">
                <h4>Адрес</h4>
                <h3>{{premise.address}}</h3>
            </div>

            <div class="characteristic-row">
                <h4><a href="#">Как добраться?</a></h4>
                <div class="map">
                    Карта
                </div>
            </div>

        </div>

        <div class="block-add-cart">

            <div class="row-price">
                {% if premise.sale %}
                <span class="price">{{premise.sale}}₽</span>
                <h4>за час</h4>
                <span class="sale_price">{{premise.price}}₽</span>
                {% else %}
                <span class="price">{{premise.price}}₽</span>
                <h4>за час</h4>
                {% endif %}
            </div>
            {% if premise.sale %}
            <h4><span class="economy">{{premise.price|sub:premise.sale}}₽</span> ваша экономия в час</h4>
            {% endif %}
            <h4>Б <span class="bonus">X2</span> 80 бонусов на ваш счёт</h4>
            <button class="add_cart">Добавить в корзину</button>
            {% if min_price != premise.price %}
            <a href="{{ SITE_URL }}/product/premise/{{cheaper_slug}}" class="row-cheaper">
                <h4>Есть дешевле</h4>
                <span>{{min_price}}₽</span>
            </a>
            {% endif %}
        </div>

</section>