{% load static %}
<section id="product-card">

    <div class="card">

        <div class="title-block">
            <h2>{{ parent.title}}</h2>

            <h3 class="present">Подарок</h3>

            <h4 class="xbonus">X2 бонусов</h4>

            {% if name == 'animator' %}
            <a href="#" class="menu-download"><h3>Скачать полный прайс</h3></a>
            {% else %}
            <a href="#" class="menu-download"><h3>Скачать полное меню</h3></a>
            {% endif %}

            <div class="favourites">
                <i class="far fa-heart"></i>
                <h4>В избранное</h4>
            </div>

            <div class="compare">
                <i class="fas fa-cash-register"></i>
                <h4>Сравнить</h4>
            </div>

            <div class="share">
                <i class="fas fa-share"></i>
                <h4>Поделиться</h4>
            </div>
        </div>

        <div class="main-info">

            <div class="rating">

                <div class="raiting-desc">
                    <h4><span>147</span> оценок</h4>
                    <h4><span>54</span> отзыва</h4>
                    <h4><span>4</span> вопроса</h4>
                </div>

                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <div class="main-info-block price">

                {% if name == 'animator' %}
                <h6>Мин. длительность</h6>
                <span>{{ parent.price}} ч</span>
                {% else %}
                <h6>Мин. стоимость заказа</h6>
                <span>{{ parent.price}}₽</span>
                {% endif %}

            </div>

            <div class="main-info-block delay">
                <h6>Принимает заказы</h6>
                <h3>за <span>{{ parent.booking_time}}</span> ч</h3>
            </div>

            <div class="main-info-block delivery">

                {% if name == 'food' %}
                <h6>Доставка</h6>
                {% else %}
                <h6>Выезд</h6>
                {% endif %}
                <h3>от <span>{{parent.price_departure}}₽</span></h3>

            </div>

        </div>

    </div>

    <div class="product-categories">

        {% for subcategory in subcategories %}
        <div class="category">
            <h3>{{ subcategory }}</h3>
        </div>
        {% endfor %}

    </div>

    <div class="products-slider">

        {% for product in products reversed %}
        <div class="product" category="{{product.subcategory}}" data-parent="{{parent.title}}" data-slug="{{parent.slug}}" data-model="{{name}}"  data-product="{{product.id}}">

            <div class="product-block">

                <h3>{{ product.title }}</h3>

                <div class="product-desc">

                    <div class="desc">
                        <p>{{ product.mini_description }}</p>
                        {% if name == 'animator' %}
                        <span>{{ product.duration }} ч</span>
                        {% elif name == 'food' %}
                        <span>{{ product.duration }} г</span>
                        {% endif %}
                    </div>

                    <div class="price">
                        {% if product.sale %}
                        <span class="sale">{{ product.price }}₽</span>
                        <span>{{ product.sale }}₽</span>
                        {% endif %}
                        <span class="sale">{{ product.price }}₽</span>
                    </div>

                </div>

            </div>

            <div class="img-container">
                <img src="{{ product.image.url }}" alt="Image">
            </div>

        </div>
        {% endfor %}

    </div>

</section>