{% load static %}
<footer>

    <div class="container-sm container-md container-lg container-xl container-xxl">

        <div class="networks">


            <h3>Задайте свои вопросы прямо сейчас</h3>

            <div class="network-block">
                <a href="#">
                    <img src="{% static 'icons/watsapp.png' %}" alt="Icon">
                    <h5>WhatsApp</h5>
                </a>
            </div>

            <div class="network-block">
                <a href="#">
                    <img src="{% static 'icons/telegramm.png' %}" alt="Icon">
                    <h5>Telegram</h5>
                </a>
            </div>

            <div class="network-block">
                <a href="#">
                    <img src="{% static 'icons/watsapp.png' %}" alt="Icon">
                    <h5>Viber</h5>
                </a>
            </div>

            <div class="network-block">
                <a href="#">
                    <img src="{% static 'icons/watsapp.png' %}" alt="Icon">
                    <h5>Вконтакте</h5>
                </a>
            </div>

            <div class="network-block">
                <a href="#">
                    <img src="{% static 'icons/watsapp.png' %}" alt="Icon">
                    <h5>Instagram</h5>
                </a>
            </div>

        </div>

    </div>

    <div class="main">

        <div class="container-sm container-md container-lg container-xl container-xxl">

            <div class="col">

                <h4>Каталог</h4>

                <h4><a href="#">Праздники "под ключ"</a></h4>

                <h4><a href="#">Помещения для праздника</a></h4>

                <h4><a href="#">Детский кейтеринг</a></h4>

                <h4><a href="#">Торты</a></h4>

                <h4><a href="#">Аниматоры</a></h4>

                <h4><a href="#">Детские шоу</a></h4>

                <h4><a href="#">Праздничные украшения</a></h4>

                <h4><a href="#">Фото - видеосъёмка</a></h4>

            </div>

            <div class="col">

                <h4>Сервис</h4>

                <h4><a href="#">Как заказать</a></h4>
                <h4><a href="#">Безопасная сделка</a></h4>
                <h4><a href="#">Гарантии</a></h4>
                <h4><a href="#">Служба поддержки</a></h4>
                <h4><a href="#">Консьерж-сервис</a></h4>
                <h4><a href="#">FAQ</a></h4>

            </div>

            <div class="col">

                <h4>Компания</h4>

                <h4><a href="#">О нас</a></h4>
                <h4><a href="#">Реквизиты</a></h4>
                <h4><a href="#">Блог</a></h4>
                <h4><a href="#">Вакансии</a></h4>
                <h4><a href="#">Политика конфинденциальности</a></h4>

            </div>

            <div class="col">

                <button>Стать партнёром</button>
                <h4><a href="#">Условия</a></h4>
                <h4><a href="#">Проект договора</a></h4>

            </div>

            <div class="col last">

                <h4>Контакты</h4>
                <h4>+ 7 999 454 76 68</h4>
                <h4>г. Москва</h4>
                <h4>c 9-00 до 21-00 без выходных</h4>
                <h4>Email: @email.com</h4>

                <h4>Мы в соцсетях</h4>
                <h4><a href="#">Вконтакте</a></h4>
                <h4><a href="#">Instagram</a></h4>
                <h4><a href="#">Facebook</a></h4>
                <h4><a href="#">Youtube</a></h4>
                <h4><a href="#">Одноклассники</a></h4>
                <h4><a href="#">Tik-Tok</a></h4>
            </div>

        </div>

    </div>

</footer>

</body>
</html>