<div class="pagination-block">
    <div class="explanation">
        <h4>Найдено {{ product_count }} подходящих вариантов</h4>
    </div>
    <div class="pagination-row">
        <div class="pagination"></div>
        {% if premises_count < 20 %}
        <h4>Показаны <span class="w-now">{{ product_count }}</span> из <span class="w-all">{{ product_count }}</span></h4>
        {% else %}
        <h4>Показаны <span class="w-now">20</span> из <span class="w-all">{{ product_count }}</span></h4>
        {% endif %}
    </div>
</div>
