{% load static %}
<section id="choose">

    <h2>
        Счастье именинника - на кончике ваших пальцев<br>
        <strong>Заходите и выбирайте</strong>
    </h2>

    <div class="choose-container">

        <div class="image-block one" style="background-image: url({% static 'images/choose1.png' %});background-size: cover;background-position: center;" data-href="/categories/foods/">
            <span>Вкусная и полезная еда с доставкой</span>
        </div>
        <div class="image-block two" style="background-image: url({% static 'images/choose2.png' %});background-size: cover;background-position: center;" data-href="/categories/animators/">
            <span>Самые смешные аниматоры</span>
        </div>
        <div class="image-block three" style="background-image: url({% static 'images/choose3.png' %});background-size: cover;background-position: center;" data-href="/categories/premises/">
            <span>Крутые лофты</span>
        </div>
        <div class="image-block four" style="background-image: url({% static 'images/choose4.png' %});background-size: cover;background-position: center;" data-href="/categories/decorations/">
            <span>Стильные и необычные декорации</span>
        </div>
        <div class="image-block five" style="background-image: url({% static 'images/choose5.png' %});background-size: cover;background-position: center;" data-href="/">
            <span>Видеографы, которые сохранят атмосферу счастья</span>
        </div>

    </div>

</section>