<section id="more">

    <h2>А ещё</h2>

    <div class="more-container">

        <div class="more-box arrow">
            <h3>
                Личный консьерж,
                который знает о
                праздниках всё
            </h3>
        </div>

        <div class="more-box chief">
            <span>Оставьте заявку</span>
            <h4><a href="#">Консьерж-сервис</a></h4>
            <span>Подберём в ручную варианты для вас</span>
        </div>

        <div class="more-box arrow">
            <h3>
                Праздник на любой
                вкус и бюджет
            </h3>
        </div>

        <div class="more-box chief">
            <span>Вау-эффект обеспечен</span>
            <h4><a href="#">Конструктор праздника</a></h4>
            <span>Не ограничивайте фантазию</span>
        </div>
    </div>

    <div class="more-container-two">

        <div class="more-content">

            <h4>
                Теперь вам не нужно тратить время, силы и лишние деньги на
                организацию волшебства. Вы даже сможете отдохнуть на дне
                рождения своего ребёнка.
            </h4>


        </div>

    </div>

</section>