{% load static %}
<section id="choose">

    <h2>
        <span>Счастье именинника - на кончике ваших</span><br><br>
        Заходите и выбирайте
    </h2>

    <div class="choose-container">

        <div class="image-block one" style="background-image: url({% static 'images/slide1.png' %});background-size: cover;background-position: center;">
            <h3>Вкусная и полезная еда с доставкой</h3>
        </div>
        <div class="image-block two" style="background-image: url({% static 'images/slide1.png' %});background-size: cover;background-position: center;">
            <h3>Самые смешные аниматоры</h3>
        </div>
        <div class="image-block three" style="background-image: url({% static 'images/slide1.png' %});background-size: cover;background-position: center;">
            <h3>Крутые лофты</h3>
        </div>
        <div class="image-block four" style="background-image: url({% static 'images/slide1.png' %});background-size: cover;background-position: center;">
            <h3>Стильные и необычные декорации</h3>
        </div>
        <div class="image-block five" style="background-image: url({% static 'images/slide1.png' %});background-size: cover;background-position: center;">
            <h3>Видеографы, которые сохранят атмосферу счастья</h3>
        </div>

    </div>

</section>