{% load static %}
<div class="sidebar">

    <h3>Параметры подбора</h3>

    <div class="sidebar-block">

        <div class="input-block">
            <h4>Разграничения</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox1">
                <label for="checkbox1">Комплексная фото- и видеосъёмка</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox2">
                <label for="checkbox2">Только фото</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox3">
                <label for="checkbox3">Только видео</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox4">
                <label for="checkbox4">Акции %</label>
            </div>
        </div>

    </div>

    <div class="sidebar-block">

        <div class="input-block">
            <h4>Стоимость 1 часа работы</h4>
            <input type="text" class="quest_time" name="quest_time"/>
        </div>

        <div class="input-block">
            <h4>Виды и условия</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox5">
                <label for="checkbox5">Фотосессия</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox6">
                <label for="checkbox6">Репортажная съёмка</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox7">
                <label for="checkbox7">Портретная съёмка</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox8">
                <label for="checkbox8">Съёмка в студии</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox9">
                <label for="checkbox9">Съёмка дома или на природе</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox10">
                <label for="checkbox10">Профессиональная ретушь</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox11">
                <label for="checkbox11">Съёмка мероприятия</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox12">
                <label for="checkbox12">Помощь в подборе одежды</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox13">
                <label for="checkbox13">Аренда аксессуаров</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="types_conditions" id="checkbox14">
                <label for="checkbox14">Цветовая коррекция</label>
            </div>
        </div>

        <div class="input-block">
            <h4>Рейтинг по отзывам</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="rating" id="checkbox15">
                <label for="checkbox15">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rating" id="checkbox16">
                <label for="checkbox16">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rating" id="checkbox17">
                <label for="checkbox17">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                    <img src="{% static 'icons/star_red.png' %}" alt="Icon">
                </label>
            </div>
        </div>

        <div class="input-block">
            <h4>Результат</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="result" id="checkbox18">
                <label for="checkbox18">Фотокнига</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="result" id="checkbox19">
                <label for="checkbox19">Печать на холсте</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="result" id="checkbox20">
                <label for="checkbox20">DVD-диск</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="result" id="checkbox21">
                <label for="checkbox21">Печать фото</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="result" id="checkbox22">
                <label for="checkbox22">Клип</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="result" id="checkbox23">
                <label for="checkbox23">Фильм</label>
            </div>
        </div>

    </div>

    <div class="sidebar-block">

        <div class="text-block">
            <h4>
                Самый удобный и
                честный агрегатор
                детских праздников
            </h4>
            <p>
                Давно выяснено, что при оценке
                дизайна и композиции читаемый
                текст мешает сосредоточиться.
            <p>
                Lorem Ipsum используют потому,
                что тот обеспечивает более или
                менее стандартное заполнение
            </p>
            <p>
                Многие программы
                электронной вёрстки и редакторы
                HTML используют Lorem Ipsum в
                качестве текста по умолчанию,
                так что поиск по ключевым
            </p>
            <p>
                За прошедшие годы текст
                Lorem Ipsum получил много версий.
                Некоторые версии появились по ошибке,
                некоторые - намеренно
            </p>
        </div>
    </div>

    <div class="sidebar-block">

        <div class="text-block">
            <p>Есть вопросы?</p>
            <h3>+7 XXX XXX XX XX</h3>
            <p>
                Давно выяснено, что при оценке
                дизайна и композиции читаемый
                текст мешает сосредоточиться.
            </p>
            <button>Оставить заявку</button>
        </div>

    </div>

</div>