<div class="sidebar">

    <h3>Параметры подбора</h3>

    <div class="sidebar-block">

        <div class="input-block">
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox1">
                <label for="checkbox1">Кейтеринг</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox2">
                <label for="checkbox2">Доставка</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox3">
                <label for="checkbox3">Обслуживание</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rubric" id="checkbox4">
                <label for="checkbox4">Акции %</label>
            </div>
        </div>

    </div>

    <div class="sidebar-block">

        <div class="input-block">
            <h4>Блюда</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="dishes" id="checkbox5">
                <label for="checkbox5">Пицца</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="dishes" id="checkbox6">
                <label for="checkbox6">Пироги</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="dishes" id="checkbox7">
                <label for="checkbox7">Бургеры и канапе</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="dishes" id="checkbox8">
                <label for="checkbox8">Торты и десерты</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="dishes" id="checkbox9">
                <label for="checkbox9">Суши и роллы</label>
            </div>
        </div>

        <div class="input-block">
            <h4>Тип кухни</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="kitchen_type" id="checkbox10">
                <label for="checkbox10">Русская</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="kitchen_type" id="checkbox11">
                <label for="checkbox11">Средиземноморская</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="kitchen_type" id="checkbox12">
                <label for="checkbox12">Кавказская</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="kitchen_type" id="checkbox13">
                <label for="checkbox13">Восточная</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="kitchen_type" id="checkbox14">
                <label for="checkbox14">Американская</label>
            </div>
        </div>

        <div class="input-block">
            <h4>Рейтинг по отзывам</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="rating" id="checkbox15">
                <label for="checkbox15">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rating" id="checkbox16">
                <label for="checkbox16">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="rating" id="checkbox17">
                <label for="checkbox17">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </label>
            </div>
        </div>

        <div class="input-block">
            <h4>Стоимость на 1 человека</h4>
            <input type="text" class="people_coast"/>
        </div>

        <div class="input-block">
            <h4>Дополнительно</h4>
            <div class="checkbox">
                <input type="checkbox" data-name="additionally" id="checkbox18">
                <label for="checkbox18">Правильное питание</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="additionally" id="checkbox19">
                <label for="checkbox19">Веганские блюда</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="additionally" id="checkbox20">
                <label for="checkbox20">Фермерские продукты</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-name="additionally" id="checkbox21">
                <label for="checkbox21">Меню для малышей до 2 лет</label>
            </div>
        </div>

    </div>

    <div class="sidebar-block">

        <div class="text-block">
            <h4>
                Самый удобный и
                честный агрегатор
                детских праздников
            </h4>
            <p>
                Давно выяснено, что при оценке
                дизайна и композиции читаемый
                текст мешает сосредоточиться.
            <p>
                Lorem Ipsum используют потому,
                что тот обеспечивает более или
                менее стандартное заполнение
            </p>
            <p>
                Многие программы
                электронной вёрстки и редакторы
                HTML используют Lorem Ipsum в
                качестве текста по умолчанию,
                так что поиск по ключевым
            </p>
            <p>
                За прошедшие годы текст
                Lorem Ipsum получил много версий.
                Некоторые версии появились по ошибке,
                некоторые - намеренно
            </p>
        </div>
    </div>

    <div class="sidebar-block">

        <div class="text-block">
            <p>Есть вопросы?</p>
            <h3>+7 XXX XXX XX XX</h3>
            <p>
                Давно выяснено, что при оценке
                дизайна и композиции читаемый
                текст мешает сосредоточиться.
            </p>
            <button>Оставить заявку</button>
        </div>

    </div>

</div>