{% load static %}
<section id="purchases">

    <h2>Рекомендуем также:</h2>

    <div class="container-purchases">

        <div class="purchases-slider">
         {% for product in recommendations %}
         {% if product != None %}    
            <div>
                {% if product.category.name == "Помещения" %}
                    <a href="/product/premise/{{product.slug}}">
                {% elif product.category.name == "Еда" %}
                    <a href="/product/food/{{product.restaurant.slug}}">
                {% elif product.category.name == "Аниматоры" %}
                    <a href="/product/animator/{{product.agency.slug}}">
                {% elif product.category.name == "Декорации" %}
                    <a href="/product/decoration/{{product.agency.slug}}">
                {% endif %}
                    <div class="product">
                        <div class="img-container" style="background: url({{product.image.url}});background-size: cover;background-position: center"></div>
                        <h3>{{product.title}}</h3>
                        <h5>{{product.mini_desc}}</h5>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

</section>